site_name: Guida per la pubblicazione di CSV
site_url:  https://ondata.github.io/guidaPraticaPubblicazioneCSV/
site_description: Guida pratica per la pubblicazione di dati tabellari in formato CSV


repo_url: https://github.com/ondata/guidaPraticaPubblicazioneCSV
repo_name: guidaPubblicazioneCSV
edit_uri: edit/main/docs/

copyright: 'Questa guida è un progetto dell''<a href="https://twitter.com/ondatait" target="_blank">associazione onData</a> | licenza <a href="https://creativecommons.org/licenses/by/4.0/deed.it" target="_blank">CC BY 4.0</a>'

theme:
  name: material
  icon:
    logo: material/table
  highlightjs: true
  custom_dir: overrides
  favicon: imgs/favicon.ico
  palette:
    - scheme: preference
      primary: deep purple
      accent: orange
#      toggle:
#        icon: material/weather-night
#        name: Modalità notte
#    - scheme: slate
#      primary: deep purple
#      accent: orange
#      toggle:
#        icon: material/weather-sunny
#        name: Modalità giorno
  language: it
  features:
    - content.code.annotate
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
  font:
    text: Montserrat
    #code: Cutive Mono
    code: Fira Code


nav:
    - Home: index.md
    - Guida:
      - guida/index.md
      - Formato di dati tabellari: guida/formato_dati_tabellari.md
      - Dizionario: guida/dizionario_dati.md
      - Linee guida pubblicazione:
          - guida/linee_guida_pubblicazione/index.md
          - Singola riga intestazione: guida/linee_guida_pubblicazione/P01_unica_riga_intestazione.md
          - Singolo record per riga: guida/linee_guida_pubblicazione/P02_singolo_record_riga.md
          - Denominazione delle colonne: guida/linee_guida_pubblicazione/P03_denominazione_colonne.md
          - Struttura dati verticale vs orizzontale: guida/linee_guida_pubblicazione/P04_strutture_dati_verticale_orizzontale.md
          - Valori sconosciuti: guida/linee_guida_pubblicazione/P05_trattamento_valori_sconosciuti.md
          - Subtotali e raggruppamenti: guida/linee_guida_pubblicazione/P06_subtotali_totali_raggruppamenti.md
          - Tipi di dati: guida/linee_guida_pubblicazione/P07_tipi_dati.md
          - Standardizzazione valore campi: guida/linee_guida_pubblicazione/P08_standardizzazione_valori_campi.md
          - Campi codificati: guida/linee_guida_pubblicazione/P09_campi_codificati.md
          - Campi con coordinate geografiche: guida/linee_guida_pubblicazione/P15_campi_con_coordinate_geografiche.md
    - Partecipa: partecipa.md
    - Note: note_redazione.md
    - Grazie: grazie.md

extra:
 social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/ondatait
      name: onData su Twitter

# foglio di stile personalizzato
extra_css:
  - stylesheets/style.css

plugins:
  - search:
      lang: it
  - mkdocstrings
  - tags

extra_javascript:
#  - https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js
#  - javascripts/tables.js
  - javascripts/varie.js
  - https://unpkg.com/mermaid/dist/mermaid.min.js

markdown_extensions:
- admonition
- md_in_html
- attr_list
- footnotes
- meta
- mkdocs-click
- pymdownx.keys
- pymdownx.betterem:
      smart_enable: all
- pymdownx.caret
- pymdownx.critic:
      mode: view
- pymdownx.details
- pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
- pymdownx.highlight
- pymdownx.mark
- pymdownx.smartsymbols
- pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
- pymdownx.tabbed
- pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
- pymdownx.tilde
- toc:
      permalink: true
      toc_depth: 3

